In [1]:
#1.] if-else statements
age = int(input("Enter your age:"))
if age >= 18:
    print("you are Adult")
else:
    print("you are minor")

Enter your age:  18

you are Adult

In [3]:
# For loops
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [5]:
# 3.]while loop
i = 1
while i<= 5:
    print(i)
    i += 1

1
2
3
4
5

In [7]:
# 4.]BREAK ,CONTINUE,PASS
# BREAK
for i in range(1, 10):
    if i == 5:
        break
    print(i)      # stops loop when i== 5

1
2
3
4

In [9]:
#continue
for i in range(1, 10):
    if i == 3:
        continue    # skips i == 3,continues loop

In [11]:
# Pass
for i in range(5):
    if i == 3:
        pass   #placeholder
    print(i)

0
1
2
3
4

In [13]:
# 5.]Range()function
#range(start,stop,step)
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

### practice problemÂ¶

In [15]:
# 1.]check even or odd
n = int(input("Enter a number:"))
if n % 2 == 0:
    print("Even")
else:
    ("odd")

Enter a number:  4

Even

In [18]:
#2']Print multiplication table
n = int(input("Enter a number:"))
for i in range(1, 11):
    print(n,"x",i, "=", n*i)

Enter a number:  19

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [20]:
# print first 10 natural numbers using while loop
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [22]:
# print all even numbers from 1 to 20
for i in range(1, 21):
   if i % 2 == 0:
       print(i)

2
4
6
8
10
12
14
16
18
20

In [24]:
#sum of numbers from 1 to 100
total = 0
for i in range(1, 101):
    total += i
    print("sum =", total)

sum = 1
sum = 3
sum = 6
sum = 10
sum = 15
sum = 21
sum = 28
sum = 36
sum = 45
sum = 55
sum = 66
sum = 78
sum = 91
sum = 105
sum = 120
sum = 136
sum = 153
sum = 171
sum = 190
sum = 210
sum = 231
sum = 253
sum = 276
sum = 300
sum = 325
sum = 351
sum = 378
sum = 406
sum = 435
sum = 465
sum = 496
sum = 528
sum = 561
sum = 595
sum = 630
sum = 666
sum = 703
sum = 741
sum = 780
sum = 820
sum = 861
sum = 903
sum = 946
sum = 990
sum = 1035
sum = 1081
sum = 1128
sum = 1176
sum = 1225
sum = 1275
sum = 1326
sum = 1378
sum = 1431
sum = 1485
sum = 1540
sum = 1596
sum = 1653
sum = 1711
sum = 1770
sum = 1830
sum = 1891
sum = 1953
sum = 2016
sum = 2080
sum = 2145
sum = 2211
sum = 2278
sum = 2346
sum = 2415
sum = 2485
sum = 2556
sum = 2628
sum = 2701
sum = 2775
sum = 2850
sum = 2926
sum = 3003
sum = 3081
sum = 3160
sum = 3240
sum = 3321
sum = 3403
sum = 3486
sum = 3570
sum = 3655
sum = 3741
sum = 3828
sum = 3916
sum = 4005
sum = 4095
sum = 4186
sum = 4278
sum = 4371
sum = 4465
sum = 4560
sum = 4656
sum = 4753
sum = 4851
sum = 4950
sum = 5050